body {
    --background-color:white;
    --text-color:black;
    --element-color:white;
    margin: 0;
    font-family: Nunito;
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark{
     --background-color: hsl(209, 26%, 17%);
    --text-color:white;
    --element-color:hsl(209,23%,22%);
}

.back-btn{
     padding: 6px 24px;
     box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.2);
     border-radius: 6px;
     cursor: pointer;
      background-color: var(--element-color);
}

.country-details{
    display: flex;
    align-items: center;
    gap: 64px;
    margin-top: 64px;
}

.country-details img{
    width: 40%;
    border: 1px solid #ddd;
}

.details-text{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    column-gap: 64px;
    max-height: 180px;
    flex-wrap: wrap;
}

.details-text p{
    margin: 0;
}
.border-countries{
    margin-top: 38px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 8px;
   
}


.border-countries a{
    padding: 4px 16px;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-inline: 4px;
    font-size: 14px;
     background-color: var(--element-color);
}

.country-details-container{
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 32px;
}

.map-container {
  height: 400px;
  margin: 40px auto;
  width: 90%;
  border-radius: 12px;
  overflow: hidden;
}

.map {
  width: 100%;
  height: 100%;
  border: 0;
}

@media(max-width:820px){
    .country-details{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 32px;
        gap: 32px;
    }

    .details-text{
        max-height: unset;
    }

    .country-details img{
        width: 100%;
        max-width: 300px;
    }
}